@charset "UTF-8";

body{
	background-color: #ffc87a;
	font-family: Helvetica;
}

table{
	width: 100%;
}

th{
	background-color:white;
	border: solid 1px gray;
	border-collapse: collapse;
	text-align: center;
	color: black;
}	
	
table, td{
	background-color:white;
	border: solid 1px gray;
	border-collapse: collapse;
	text-align: center;
	color: gray;
}

h1{
	font-size: 38px;
	color: white;
	text-align: center;
}

 h4{
	color: gray;
	text-align: center;
}

#reg{
	background-color: white;
	text-align: center;
	height: 170px;
	width: 300px;
	margin: auto;
	border-radius: 10px;
}

#langSelect{
	float: right;

	}
#registForm{
	background-color: white;
	text-align: center;
	height: 600px;
	width: 500px;
	text-align: center;
	border-radius: 10px;
	margin: auto;
}
hr{
	background-color: lightgray;
	border-color: lightgray;
}
input{
	background-color: lightgray;
}


