<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main_user">
<head>
<meta charset="UTF-8">
<title th:text="#{title}"></title>
</head>
<body>

<div layout:fragment="err">
<h1 th:text="#{error.page}"></h1>
<div class="error"><br>
<h4 th:text="${status}"></h4>
<h4 th:text="${error}"></h4>
<h4 th:text="${message}"></h4>
<h4 th:text="${#dates.format(timestamp, 'yyyy-MMM-dd HH:mm')}"></h4><br>
<a th:href="@{/logout}" th:text="#{go.login}"></a>
</div>
</div>
</body>
</html>