<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">
<head>

<meta charset="UTF-8">
<title th:text="#{title}"></title>
</head>
<body>

<div layout:fragment="regist">
<h1 th:text="#{registration}"></h1>
<hr>
<br>
<br>
<br>
<div id="registForm">
<br>
<br>
<form th:action="@{/flight/reg}" method="post" th:object="${user}">
<h4 th:text="#{firstname}"></h4>
<input type="text" id="fname" name="firstname" th:field="*{firstName}" size="50" required="required"/><br>
<h4 th:text="#{lastname}"></h4>
<input type="text" id="lname" name="lastname" th:field="*{lastName}" size="50" required="required"/><br>
<h4 th:text="#{birth}"></h4>
<input type="date" id="bdate" name="birthdate" th:field="*{{dateOfBirth}}" required="required"/><br>
<h4 th:text="#{user}"></h4>
<input type="email" id="uname" name="username" size="50" th:field="*{userName}" th:placeholder="#{email}" required="required"/><div id="regform-error" th:text="#{username.error}"></div>
<h4 th:text="#{pass}"></h4>
<input type="password" id="pass" name="pass" size="50" required="required"/><br><div id="regform-error" th:text="#{password.error}"></div><div id="pass-info" th:text="#{password.info}"></div>
<h4 th:text="#{passagain}"></h4>
<input type="password" id="passagain" name="pass" size="50" th:field="*{password}" required="required"/><br><div id="regform-error" th:text="#{again.password.error}"></div><br><br>
<input type="submit" th:value="#{send}"><br><br>
</form>
</div>

	
</div>

</body>
</html>